mat-card {
  width: fit-content;

  #title {
    text-align: center;
  }

  .container{
    display: flex;
    flex-direction: row;

    .details-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }
}

